$bg: #008080;
$window: #B3B3B3;
$border_top:white;
$border_left:white;
$title_gradient:linear-gradient(100deg, #00006D, #006EC8);
$title_color:white;


body{
  background-color:$bg;
  /* cursor: url(cursor.svg); */
}
* {
  font-family: w98;
  font-size:13px;
  font-weight: bolder;
}
input{
  height:21px;
  border:inset 2px;
}

button{
  border:outset 2px;
  border-top-color:$border_top;
  border-left-color:$border_left;
  background-color:$window;
  cursor: pointer;
  :active{
    background:red !important;
  }
}



.App {
  border:outset 2px;
  border-top-color:$border_top;
  border-left-color:$border_left;
  background-color:$window;
  width:300px;
  margin:3rem auto;
  padding:1px;

  .title_page{
    width:100%;
    height:20px;
    background:$title_gradient;
    display:flex;
    /* padding-left:2px; */
    justify-content:space-between;
    align-items: center;
    .exit{
      padding:0px;
      width:18px;
      height:18px;
    }
    .title_group{
      display:flex;
      justify-content: flex-start;
      align-items: center;
      .favicon{
        width:16px;
        padding-left:2px;
      }
      span{
        color:$title_color;
        padding-left:3px;
      }
    }
  }
  .title{
    width:100%;
    height:20px;
    background:$title_gradient;
    display:flex;
    /* padding-left:2px; */
    justify-content:flex-start;
    align-items: center;
    .exit{
      padding:1px;
    }
    .favicon{
      width:16px;
      padding-left:2px;
    }
    span{
      color:$title_color;
      padding-left:3px;
    }
  }
  .add_player{
    margin:auto;
  }
  .title_text{
    margin:auto;
    text-align: center;
    img {
      width:300px;
    }
    h1{
      font-size:18px;
    }
  }
  .dices{
    display:flex;
    align-content: center;
    justify-content: space-around;
    button{
      height:79px;
      padding:5px;
      margin:5px;
      // background-color:red;
      :active{
        background-color:red !important;
      }
    }
  }
  .players{
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    
    .player{
      img{
        width:22px;
        height: 22px;
      }
      input{
        margin:0 5px;
        text-align: center;
      }
      display:flex;
      justify-content: center;
      align-items: center;
      margin:5px;
      .score{
        width:22px;
        height:22px;
        border:inset 1px;
        border-bottom-color: $border_top;
        border-right-color: $border_top;
      }
      
    }
    margin:5px;
  }
  .game-selector{
    padding:5px;
  }
  .footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    button{
      margin:3px
    }
  }
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: W98;
  src: url(W98.ttf);
  /* font-weight: bold; */
}